// colors
$black: black;
$white: white;
$light-black: rgba(0, 0, 0, 0.507);
$text-muted: rgba(0, 0, 0, 0.438);

// font-family
$font-family-source: 'Source Code Pro', monospace;

// font-size
$font-size-15: 15px;
$font-size-22: 22px;
$font-size-25: 25px;

// font-weight
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600; 

